@model IEnumerable<LibraryManagement.Models.BorrowHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Borrow History</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualReturnDate)
            </td>
            <td>
                    <a asp-action="Details" asp-route-id="@item.BorrowHistoryId" class="btn btn-primary">Details</a>
                @if(item.ActualReturnDate == null)
                {
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.BorrowHistoryId">Return</a>
                }
                @* <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.BorrowHistoryId">Return</a> | *@
              
                @* <a asp-action="Delete" asp-route-id="@item.BorrowHistoryId">Delete</a> *@
            </td>
        </tr>
}
    </tbody>
</table>
